@using ContosoUni.Data
@model IEnumerable<ContosoUni.ViewModels.DepartmentViewModel>

@{
    ViewData["Title"] = "Department List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string str1 = "#confirm-delete";
    string str2 = "confirm-delete";
    string subj1 = "#subject";
    string subj2 = "subject";
    bool authoriseUsers = User.IsInRole(MyRoles.Administrator.ToString()) || User.IsInRole(MyRoles.Staff.ToString());
}

<h1>@ViewData["Title"]</h1>

@if (authoriseUsers)
{
    <div class="container">
        <div class="row">
            <a class="btn btn-primary btn-sm mr-2" role="button" asp-action="Create">Create New</a>
            @if (User.IsInRole(MyRoles.Administrator.ToString()))
            {
                <form method="get" asp-action="Index" asp-route-id="@ViewBag.IncludeDelete">
                    <div class="custom-control custom-switch">
                        @if (ViewBag.IncludeDelete)
                        {
                            <input type="checkbox" class="custom-control-input" id="customSwitch1" onclick="this.form.submit()">
                        }
                        else
                        {
                            <input type="checkbox" class="custom-control-input" id="customSwitch1" onclick="this.form.submit()" checked>
                        }
                        <label class="custom-control-label" for="customSwitch1">Include deleted</label>
                    </div>
                </form>
            }
        </div>
    </div>
}
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subjects)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdatedOn)
            </th>
            @if (!ViewBag.IncludeDelete)
            {
                <th>
                    @Html.DisplayNameFor(model => model.IsDeleted)
                </th>
            }
            @*<th>
                    @Html.DisplayNameFor(model => model.CreatedByUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedByUser)
                </th>*@
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    <a data-toggle="modal" data-target=@subj1@item.DepartmentID href="" class='btn btn-sm' style='background-color:transparent;' title='Subjects' role='button'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                        </svg>
                    </a>
                    <div class="modal" id=@subj2@item.DepartmentID tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title">@item.DepartmentName Subjects</h2>
                                </div>
                                <div class="modal-body">
                                    <ul class="list-group">
                                        @foreach (var s in item.Subjects)
                                        {
                                            if (!s.IsDeleted)
                                            {
                                                @if (authoriseUsers)
                                                {
                                                    <li class="list-group-item">
                                                        <a asp-controller="Subjects" asp-action="Details" asp-route-id="@s.SubjectID" class="btn d-flex" role="button">
                                                            @Html.DisplayFor(modelItem => s.SubjectName)
                                                        </a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="list-group-item">
                                                        @Html.DisplayFor(modelItem => s.SubjectName)
                                                    </li>
                                                }
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdatedOn)
                </td>
                @if (!ViewBag.IncludeDelete)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDeleted)
                    </td>
                }
                @*<td>
                        @Html.DisplayFor(modelItem => item.CreatedByUser.DisplayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedByUser.DisplayName)
                    </td>*@
            <td>
                @if (authoriseUsers)
                {
                    <a asp-action="Details" asp-route-id="@item.DepartmentID" class='btn btn-sm' style='background-color:transparent;' title='Details' role='button'>
                        <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-list' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z' /></svg>
                    </a>
                    <a asp-action="Edit" asp-route-id="@item.DepartmentID" class='btn btn-sm' style='background-color:transparent;' title='Edit' role='button'>
                        <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-pencil-square' viewBox='0 0 16 16'><path d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z' /><path fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z' /></svg>
                    </a>
                    @*<a asp-action="Delete" asp-route-id="@item.DepartmentID" onclick="return confirm('Are sure wants to delete @item.DepartmentName?');">Delete</a>*@
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.DepartmentID }, new { onclick = $"return confirm('Are sure wants to delete {item.DepartmentName}?');" })*@
                    @if (!item.IsDeleted)
                    {
                        <a data-toggle="modal" data-target=@str1@item.DepartmentID href="" class='btn btn-sm' style='background-color:transparent;' title='Delete' role='button'>
                            <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-trash' viewBox='0 0 16 16'><path d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z' /><path fill-rule='evenodd' d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z' /></svg>
                        </a>
                        <form method="post" asp-action="Delete" asp-route-id="@item.DepartmentID">
                            <div class="modal" id=@str2@item.DepartmentID tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title">Delete</h2>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete: @item.DepartmentName?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-success">Yes, Delete</button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    }
                }
            </td>
            </tr>
        }
    </tbody>
</table>
